<!-- <div class="bg-gray-100 w-64 h-screen p-4">
    <ul class="space-y-2">
      <li class="font-bold">Entire Caseload</li>
      <li>Intake</li>
      <ul class="pl-4">
        <li>Paper Application CP/NCP</li>
        <li>Paper Intergovernmental</li>
        <li>Non IV-D</li>
        <li>Referral Cases</li>
        <ul class="pl-4">
          <li>Intergovernmental Cases</li>
        </ul>
      </ul>
      <li>Locate Cases</li>
      <li>Establishment Cases</li>
      <li>Enforcement Cases</li>
      <li>Financial Management Cases</li>
      <li>Case Management</li>
      <ul class="pl-4">
        <li>File Upload</li>
      </ul>
      <li>Mail Processing</li>
      <li>Notices</li>
    </ul>
  </div> -->
  

  <aside class="bg-[#333333] text-gray-200 w-64 h-screen overflow-auto">
    <ul class="space-y-1">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Entire Caseload</a>
      </li>
      <li class="group">
        <div class="flex justify-between items-center px-4 py-2 hover:bg-gray-700 cursor-pointer">
          <span>Intake</span>
          <span>&#9662;</span>
        </div>
        <ul class="pl-6 hidden group-hover:block">
          <li>
            <!-- <a href="" class="block px-4 py-2 hover:bg-gray-700">Paper Application CP/NCP</a> -->
            <button class="block px-4 py-2 hover:bg-gray-700" (click)="onClickPaper()">Paper Application CP/NCP</button>
          </li>
          
            <!-- <div (click)="onClickPaper()">
              <li  class="block px-4 py-2 hover:bg-gray-700">
                Paper Application CP/NCP
              </li>
            </div> -->
          

          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-700">Paper Intergovernmental</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-700">Non IV-D</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Referral Cases</a>
      </li>
      <li class="group">
        <div class="flex justify-between items-center px-4 py-2 hover:bg-gray-700 cursor-pointer">
          <span>Intergovernmental Cases</span>
          <span>&#9662;</span>
        </div>
        <ul class="pl-6 hidden group-hover:block">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-700">Sub-item 1</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-700">Sub-item 2</a>
          </li>
        </ul>
      </li>
      <!-- Add more menu items as needed -->
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Locate Cases</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Enforcement Cases</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Financial Management Cases</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Case Management</a>
        <ul class="pl-6">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-700">File Upload</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Mail Processing</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Notices</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700">Refund Request Ticket</a>
      </li>
    </ul>
  </aside>
  