<div class="container mx-auto p-6 bg-white rounded shadow-md ">
  <mat-accordion>

    <form [formGroup]="step2Form">
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-information [step2Form]="step2Form"></app-noncustodial-party-information> -->

        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <!-- <label class="block text-sm font-medium">First Name</label> -->
              <input formControlName="firstName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="First Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Middle Name</label> -->
              <input formControlName="middleName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Middle Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Last Name</label> -->
              <input formControlName="lastName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Last Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Suffix</label> -->
              <input formControlName="suffix" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Suffix" />
            </div>

            <div>
              <!-- <label class="block text-sm font-medium"></label> -->
              <select formControlName="relationshipToChild"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Relationship to child</option>
                <option value="Father">Father</option>
                <option value="Mother">Mother</option>

              </select>
            </div>
            <div>
              <input formControlName="nickName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Alias/NickName" />

            </div>

            <div>
              <input formControlName="maidenName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Maiden Name" />

            </div>

            <div>
              <input formControlName="approx_age" type="number"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Approx Age" />

            </div>


            <div>
              <!-- <label class="block text-sm font-medium">Source</label> -->
              <input formControlName="source" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Source" />
            </div>
            <div>
              <label class="block text-sm font-medium">International Address?</label>
              <div class="flex items-center mt-1">
                <input formControlName="international_address" type="radio" name="international_address" value="yes"
                  class="mr-2" /> Yes
                <input formControlName="international_address" type="radio" name="international_address" value="no"
                  class="ml-4 mr-2" checked /> No
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium">Address Validated</label>
              <p class="mt-1">Yes <span class="text-gray-500"></span></p>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 1</label> -->
              <input formControlName="address_line1" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 1" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 2</label> -->
              <input formControlName="address_line2" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 2" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">City</label> -->
              <input formControlName="city" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="City" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">State</label> -->
              <select formControlName="state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">State</option>

                <!-- Add state options here -->
              </select>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="county"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">County</option>
                <!-- Add state options here -->
              </select>
            </div>

            <div>
              <label class="block text-sm font-medium">Zip Code</label>
              <input formControlName="zipcode" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Zip Code" />
            </div>
            <div>
              <label class="block text-sm font-medium">Country</label>
              <input formControlName="country" type="text" value="United States of America"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                readonly />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="citizenship_status"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Citizenship Satus</option>

                <option value="">U.S Citizen Or Naturalized Citizen</option>

              </select>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="marital_status"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Marital Satus</option>

                <option value="Separated">Separated</option>

              </select>
            </div>
            <div>
              <input formControlName="email" type="email"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Email" />

            </div>

            <div>
              <input formControlName="home_phone" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Home Phone" />

            </div>
            <div>
              <input formControlName="business_phone" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Business Phone" />
            </div>
            <div>
              <input formControlName="cell_phone" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Cell Phone" />
            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="race"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Race</option>

                <option value=""></option>

              </select>
            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="gender"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Gender</option>

                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>
            </div>
            <div>
              <input formControlName="ssnItin" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="SSN/ITIN" />

            </div>

            <div>
              <input formControlName="dob" type="date"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="DOB" />

            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="eye_color"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Eye Color</option>

                <option value="Black">Black</option>

              </select>
            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="height_ft"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Height ft</option>

                <option value="5 ft">5 ft</option>
                <option value="6 ft">6 ft</option>


              </select>
            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="height_in"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Height in</option>

                <option value=""></option>

              </select>
            </div>

            <div>
              <input formControlName="identification_mark" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Identification marks" />

            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="hair_colour"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Hair Color</option>

                <option value="Black">Black</option>

              </select>
            </div>

            <div>
              <input formControlName="weight" type="number"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Weight lbs" />

            </div>

            <div> <input formControlName="drivers_license_number" type="number"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Driver's License Number" />
            </div>

            <div>
              <input formControlName="place_of_birth_city" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Place of Birth City" />

            </div>

            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="place_of_birth_state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Place of Birth State</option>

                <option value=""></option>

              </select>
            </div>

            <div>
              <label class="block text-sm font-medium">Number of a union/local?</label>
              <div class="flex items-center mt-1">
                <input formControlName="member_of_union_or_local" type="radio" name="" value="yes" class="mr-2" /> Yes
                <input formControlName="member_of_union_or_local" type="radio" name="" value="no" class="ml-4 mr-2"
                  checked /> No
              </div>
            </div>
          </div>
        </fieldset>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Alternative Name</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-alternative-name></app-noncustodial-party-alternative-name> -->

        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <!-- <label class="block text-sm font-medium">First Name</label> -->
              <input formControlName="ncpAlternativeFirstName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="First Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Middle Name</label> -->
              <input formControlName="ncpAlternativeMiddleName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Middle Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Last Name</label> -->
              <input formControlName="ncpAlternativeLastName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Last Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Suffix</label> -->
              <input formControlName="ncpAlternativeSuffix" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Suffix" />
            </div>

          </div>
        </fieldset>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Military Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-military-information></app-noncustodial-party-military-information> -->

        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <label class="block text-sm font-medium">Has the Noncustodial Party ever served in the military?</label>
              <div class="flex items-center mt-1">
                <input formControlName="served_in_military" type="radio" name="served_in_military" value="yes"
                  class="mr-2" /> Yes
                <input formControlName="served_in_military" type="radio" name="served_in_military" value="no"
                  class="ml-4 mr-2" /> No
                <input formControlName="served_in_military" type="radio" name="served_in_military" value="Unknown"
                  class="ml-4 mr-2" checked /> Unknown

              </div>
            </div>
          </div>
        </fieldset>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Incarceration Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-incarceration-information></app-noncustodial-party-incarceration-information> -->


        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">
            <div>
              <label class="block text-sm font-medium">Has the Noncustodial Party ever been in jail?</label>
              <div class="flex items-center mt-1">
                <input formControlName="been_in_jail" type="radio" name="been_in_jail" value="yes" class="mr-2" /> Yes
                <input formControlName="been_in_jail" type="radio" name="been_in_jail" value="no" class="ml-4 mr-2" />
                No
                <!-- <input type="radio" name="military" value="Unknown" class="ml-4 mr-2" checked /> Unknown -->

              </div>
            </div>
          </div>
        </fieldset>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Nearest Relationship</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-nearest-relationship></app-noncustodial-party-nearest-relationship> -->
        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <!-- <label class="block text-sm font-medium">First Name</label> -->
              <input formControlName="nearest_relative_firstName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="First Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Middle Name</label> -->
              <input formControlName="nearest_relative_middleName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Middle Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Last Name</label> -->
              <input formControlName="nearest_relative_lastName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Last Name" />
            </div>


            <div>
              <!-- <label class="block text-sm font-medium"></label> -->
              <select formControlName="nearest_relative_relationship"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Relationship to NCP</option>
                <option value="Father">Father</option>
                <option value="Mother">Mother</option>

              </select>
            </div>
            <div>
              <input formControlName="nearest_relative_phone" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Phone" />

            </div>




            <div>
              <!-- <label class="block text-sm font-medium">Source</label> -->
              <input formControlName="relative_address_source" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Source" />
            </div>
            <div>
              <label class="block text-sm font-medium">International Address?</label>
              <div class="flex items-center mt-1">
                <input formControlName="relative_address_interNationalAddress" type="radio"
                  name="relative_address_interNationalAddress" value="yes" class="mr-2" /> Yes
                <input formControlName="relative_address_interNationalAddress" type="radio"
                  name="relative_address_interNationalAddress" value="no" class="ml-4 mr-2" checked /> No
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium">Address Validated</label>
              <p class="mt-1">Yes <span class="text-gray-500"></span></p>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 1</label> -->
              <input formControlName="relative_address_addressLine1" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 1" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 2</label> -->
              <input formControlName="relative_address_addressLine2" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 2" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">City</label> -->
              <input formControlName="relative_address_city" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="City" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">State</label> -->
              <select formControlName="relative_address_state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">State</option>

                <!-- Add state options here -->
              </select>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="relative_address_county"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">County</option>
                <!-- Add state options here -->
              </select>
            </div>
            <!-- <div>
                        <label class="block text-sm font-medium">County</label>
                        <input type="text" class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black" />
                      </div> -->
            <div>
              <label class="block text-sm font-medium">Zip Code</label>
              <input formControlName="relative_address_zipcode" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Zip Code" />
            </div>
            <div>
              <label class="block text-sm font-medium">Country</label>
              <input formControlName="relative_address_country" type="text" value="United States of America"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                readonly />
            </div>

          </div>
        </fieldset>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Mother</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-mother></app-noncustodial-party-mother> -->
        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <!-- <label class="block text-sm font-medium">First Name</label> -->
              <input formControlName="ncp_mother_firstName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="First Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Middle Name</label> -->
              <input formControlName="ncp_mother_middleName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Middle Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Last Name</label> -->
              <input formControlName="ncp_mother_lastName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Last Name" />
            </div>

            <div>
              <input formControlName="ncp_mother_phone" type="number"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Phone" />

            </div>




            <div>
              <!-- <label class="block text-sm font-medium">Source</label> -->
              <input formControlName="ncp_mother_source" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Source" />
            </div>
            <div>
              <label class="block text-sm font-medium">International Address?</label>
              <div class="flex items-center mt-1">
                <input formControlName="ncp_mother_interNationalAddress" type="radio"
                  name="ncp_mother_interNationalAddress" value="yes" class="mr-2" /> Yes
                <input formControlName="ncp_mother_interNationalAddress" type="radio"
                  name="ncp_mother_interNationalAddress" value="no" class="ml-4 mr-2" checked /> No
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium">Address Validated</label>
              <p class="mt-1">Yes <span class="text-gray-500"></span></p>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 1</label> -->
              <input formControlName="ncp_mother_address_line1" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 1" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 2</label> -->
              <input formControlName="ncp_mother_address_line2" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 2" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">City</label> -->
              <input formControlName="ncp_mother_city" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="City" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">State</label> -->
              <select formControlName="ncp_mother_state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">State</option>

                <!-- Add state options here -->
              </select>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="ncp_mother_county"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">County</option>
                <!-- Add state options here -->
              </select>
            </div>

            <div>
              <label class="block text-sm font-medium">Zip Code</label>
              <input formControlName="ncp_mother_zipcode" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Zip Code" />
            </div>
            <div>
              <label class="block text-sm font-medium">Country</label>
              <input formControlName="ncp_mother_country" type="text" value="United States of America"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                readonly />
            </div>

          </div>
        </fieldset>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Father</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-father></app-noncustodial-party-father> -->

        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <!-- <label class="block text-sm font-medium">First Name</label> -->
              <input formControlName="ncp_father_firstName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="First Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Middle Name</label> -->
              <input formControlName="ncp_father_middleName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Middle Name" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Last Name</label> -->
              <input formControlName="ncp_father_lastName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Last Name" />
            </div>

            <div>
              <input formControlName="ncp_father_phone" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Phone" />

            </div>




            <div>
              <!-- <label class="block text-sm font-medium">Source</label> -->
              <input formControlName="ncp_father_source" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Source" />
            </div>
            <div>
              <label class="block text-sm font-medium">International Address?</label>
              <div class="flex items-center mt-1">
                <input formControlName="ncp_father_interNationalAddress" type="radio"
                  name="ncp_father_interNationalAddress" value="yes" class="mr-2" /> Yes
                <input formControlName="ncp_father_interNationalAddress" type="radio"
                  name="ncp_father_interNationalAddress" value="no" class="ml-4 mr-2" checked /> No
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium">Address Validated</label>
              <p class="mt-1">Yes <span class="text-gray-500"></span></p>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 1</label> -->
              <input formControlName="ncp_father_address_line1" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 1" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 2</label> -->
              <input formControlName="ncp_father_address_line2" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 2" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">City</label> -->
              <input formControlName="ncp_father_city" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="City" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">State</label> -->
              <select formControlName="ncp_father_state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">State</option>

                <!-- Add state options here -->
              </select>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="ncp_fathers_county"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">County</option>
                <!-- Add state options here -->
              </select>
            </div>

            <div>
              <label class="block text-sm font-medium">Zip Code</label>
              <input formControlName="ncp_father_zipcode" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Zip Code" />
            </div>
            <div>
              <label class="block text-sm font-medium">Country</label>
              <input formControlName="ncp_father_country" type="text" value="United States of America"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                readonly />
            </div>

          </div>
        </fieldset>


      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Employer Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-employer-information></app-noncustodial-party-employer-information> -->

        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <label class="block text-sm font-medium">Is the Noncustodial Party Employed?</label>
              <div class="flex items-center mt-1">
                <input formControlName="employer_info_employed" type="radio" name="employer_info_employed" value="yes"
                  class="mr-2" /> Yes
                <input formControlName="employer_info_employed" type="radio" name="employer_info_employed" value="no"
                  class="ml-4 mr-2" /> No
                <input formControlName="employer_info_employed" type="radio" name="employer_info_employed"
                  value="Unknown" class="ml-4 mr-2" checked /> Unknown

              </div>
            </div>
          </div>
        </fieldset>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Income and Expense Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-income-and-expense-information></app-noncustodial-party-income-and-expense-information> -->

        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Custodial Party Alternative Name</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div>
              <label class="block text-sm font-medium">Noncustodial Party have a license, certificate, registration, or
                permit that is necessary to practice or work in a particular business, occupation, or
                profession?</label>
              <div class="flex items-center mt-1">
                <input formControlName="permit_to_work" type="radio" name="permit_to_work" value="yes" class="mr-2" />
                Yes
                <input formControlName="permit_to_work" type="radio" name="permit_to_work" value="no"
                  class="ml-4 mr-2" /> No
                <!-- <input type="radio" name="Employed" value="Unknown" class="ml-4 mr-2" checked /> Unknown -->

              </div>
            </div>

            <div>
              <input formControlName="type_info" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Type" />

            </div>

            <div>
              <label class="block text-sm font-medium">Noncustodial Party have other child support cases?</label>
              <div class="flex items-center mt-1">
                <input formControlName="other_child_cases" type="radio" name="other_child_cases" value="yes"
                  class="mr-2" /> Yes
                <input formControlName="other_child_cases" type="radio" name="other_child_cases" value="no"
                  class="ml-4 mr-2" /> No
                <!-- <input type="radio" name="Employed" value="Unknown" class="ml-4 mr-2" checked /> Unknown -->

              </div>


            </div>

            <div>
              <!-- <label class="block text-sm font-medium">State</label> -->
              <select formControlName="income_state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">State</option>

                <!-- Add state options here -->
              </select>
            </div>
          </div>

          <div [formGroup]="ncp_incomeForm" >
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              <div>
                <!-- <label class="block text-sm font-medium">State</label> -->
                <select formControlName="income_type"
                  class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                  <option value="">Income Type</option>
                  <option value="salary">Salary</option>
                  <option value="self_employed">Self Employed</option>
                  <!-- Add state options here -->
                </select>
              </div>
  
              <div>
                <!-- <label class="block text-sm font-medium">State</label> -->
                <select formControlName="income_frequency"
                  class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                  <option value="">Income Frequency</option>
                  <option value="Weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <!-- Add state options here -->
                </select>
              </div>
  
              <div>
                <input formControlName="income_amount" type="number"
                  class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                  placeholder="$ Income amount" />
  
              </div>
              <div>
                <button type="button"
                  class="shadow-md border-b-2 text-gray-700 hover:bg-gray-50 py-2 px-4 rounded-sm mr-2" (click)="addIncome()">Add</button>
  
              </div>
            </div>
        
          </div>

          
        </fieldset>
 <!-- MatTable -->
 <table *ngIf="ncp_income.length > 0" mat-table [dataSource]="ncp_income.value" class="mat-elevation-z8 demo-table">
   
  
  <!-- firstName Column -->
  <ng-container matColumnDef="income_type">
    <th mat-header-cell *matHeaderCellDef>Income Type</th>
    <td mat-cell *matCellDef="let ncp_income">{{ncp_income.income_type}}</td>
  </ng-container>

     <!-- LastName Column -->
     <ng-container matColumnDef="income_frequency">
      <th mat-header-cell *matHeaderCellDef>Income Frequency</th>
      <td mat-cell *matCellDef="let ncp_income">{{ncp_income.income_frequency}}</td>
    </ng-container>

  <!-- ssn Column -->
  <ng-container matColumnDef="income_amount">
    <th mat-header-cell *matHeaderCellDef>Income Amount</th>
    <td mat-cell *matCellDef="let ncp_income">{{ncp_income.income_amount}}</td>
  </ng-container>


  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-icon-button color="warn" (click)="deleteIncome(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['income_type','income_frequency', 'income_amount', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['income_type','income_frequency', 'income_amount', 'actions'];"></tr>
</table>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Party Attorney Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-attorney-information></app-noncustodial-party-attorney-information> -->
        <fieldset class="mb-6">
          <!-- <legend class="text-lg font-semibold">Applicant Mailing Address</legend> -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
              <!-- <label class="block text-sm font-medium">Source</label> -->
              <input formControlName="ncp_attorney_firstName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="First Name" />
            </div>
            <div>
              <input formControlName="ncp_attorney_middleName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Middle Name" />
            </div>
            <div>
              <input formControlName="ncp_attorney_lastName" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Last Name" />
            </div>
            <div>
              <input formControlName="ncp_attorney_phone" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Phone" />
            </div>
            <div>
              <input formControlName="ncp_attorney_source" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Source" />
            </div>

            <div>
              <label class="block text-sm font-medium">International Address?</label>
              <div class="flex items-center mt-1">
                <input formControlName="ncp_attorney_interNationalAddress" type="radio"
                  name="ncp_attorney_interNationalAddress" value="yes" class="mr-2" /> Yes
                <input formControlName="ncp_attorney_interNationalAddress" type="radio"
                  name="ncp_attorney_interNationalAddress" value="no" class="ml-4 mr-2" checked /> No
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium">Address Validated</label>
              <p class="mt-1">No <span class="text-gray-500">ⓘ</span></p>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 1</label> -->
              <input formControlName="ncp_attorney_addressLine1" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 1" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">Address Line 2</label> -->
              <input formControlName="ncp_attorney_addressLine2" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Address Line 2" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">City</label> -->
              <input formControlName="ncp_attorney_city" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="City" />
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">State</label> -->
              <select formControlName="ncp_attorney_state"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">State</option>

                <!-- Add state options here -->
              </select>
            </div>
            <div>
              <!-- <label class="block text-sm font-medium">County</label> -->
              <select formControlName="ncp_attorney_county"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">County</option>
                <!-- Add state options here -->
              </select>
            </div>

            <div>
              <label class="block text-sm font-medium">Zip Code</label>
              <input formControlName="ncp_attorney_zipcode" type="text"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Zip Code" />
            </div>
            <div>
              <label class="block text-sm font-medium">Country</label>
              <input formControlName="ncp_attorney_country" type="text" value="United States of America"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                readonly />
            </div>

          </div>
        </fieldset>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class=""> Noncustodial Asset Information</mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-noncustodial-party-asset-information></app-noncustodial-party-asset-information> -->


        <fieldset class="mb-6">
          <div [formGroup]="ncp_assetForm">
            <!-- <legend class="text-lg font-semibold">Personal Information</legend> -->
          <div class="bg-gray-100 p-1">
            <legend class="text-base font-normal">Noncustodial Party Assets</legend>

          </div>

         

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-2 border border-gray-300">
            <div>
              <select formControlName="asset_type" class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black">
                <option value="">Select Asset Type</option>

                <option value="bank account">Bank Account</option>
                <option value="real estate">Real Estate</option>
    
    
                <!-- Add state options here -->
              </select>
            </div>

            
            <div>
              <input id="asset_value" formControlName="asset_value" type="number"
                class="w-full mt-1 p-2 border-0 border-b-2 focus:outline-none focus:ring-0 focus:border-black"
                placeholder="Asset Value" />
            </div>
            
            <div class="flex w-full justify-end ">
              
                <button type="button"
                  class="shadow-md border-b-2 text-white bg-blue-950 hover:bg-blue-900 py-2 px-4 rounded-sm mr-2" (click)="addAsset()">Add
                  Asset</button>
  
              
            </div>

          </div>
          </div>
        </fieldset>
        <table *ngIf="ncp_asset.length > 0" mat-table [dataSource]="ncp_asset.value" class="mat-elevation-z8 demo-table">
   
  
          <!-- asset_type Column -->
          <ng-container matColumnDef="asset_type">
            <th mat-header-cell *matHeaderCellDef>Asset Type</th>
            <td mat-cell *matCellDef="let ncp_asset">{{ncp_asset.asset_type}}</td>
          </ng-container>
      
            
        
          <!-- asset_value Column -->
          <ng-container matColumnDef="asset_value">
            <th mat-header-cell *matHeaderCellDef>Asset Amount</th>
            <td mat-cell *matCellDef="let ncp_asset">{{ncp_asset.asset_value}}</td>
          </ng-container>
      
        
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index">
              <button mat-icon-button color="warn" (click)="deleteAsset(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="['asset_type','asset_value', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['asset_type','asset_value', 'actions'];"></tr>
        </table>
      </mat-expansion-panel>
    </form>

  </mat-accordion>


</div>