<div class="flex flex-col items-center justify-center gap-4 p-2 mt-2">
    <mat-icon matTooltip="Warning" class="warning-icon">warning</mat-icon>
    <mat-icon matTooltip="Calculator">calculate</mat-icon>
    <mat-icon>view_list</mat-icon>
    <mat-icon>access_time</mat-icon>
    <mat-icon matTooltip="File">insert_drive_file</mat-icon>

    <mat-icon>description</mat-icon>
    <mat-icon>link</mat-icon>
    <mat-icon>calendar_today</mat-icon>
    <mat-icon>notifications</mat-icon>
    <mat-icon>attach_money</mat-icon>
    <mat-icon>chat</mat-icon>
    <mat-icon>balance</mat-icon>
</div>
